.ctl {
	position: absolute;
	z-index: 100;
} 
.ctl-btn {
	width: 36px;
	height: 36px;
	border-radius: .6em !important;
}
.ctl-btn.ui-btn, .ctl-btn.ui-btn:visited {
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
}
.noshow{
	display: none;
}
