#map {
	height: 100%;
}
#btn-srch-typ:after, #fld-srch-container .ui-input-clear:after {
	background-color: rgb(1,51,100);
}
.ui-input-search:after {
	color: rgb(1,51,100);
}
.ui-listview>.ui-li-static:hover {
	background-color: rgb(1,51,100);
	color: white;
}
.ctl-btn.ui-btn, #splash .ctl-btn.ui-btn {
	background-color: rgb(1,51,100);
}
.upkDetail {
	border: 1px solid rgb(1,51,100);
	background-color: #F8F8F8;
}
.oddRow {
	background-color: #F8F8F8;
}
#share-btn {
	display: none;
}
#filter h3 a:after {
  background-image: url(../img/ie8-filter.png);
}
#callout_close {
	background-color: rgb(1,51,100);
	margin: 2px 3px 0 0;
}
#callout_close:after {
	background-image: url(../img/ie8-x.gif);
	content: "X";
	color: white;
	background-color: rgb(1,51,100);
}
#info-review, #info-result, #info-fail {
	margin: 0 200px;
}
.info .ui-content {
	height: 85%;
}
.ui-loader, .ui-icon-loading {
	display: none !important;
}
#srch-type-geo, .srch-upk-icon, #srch-type-addr .ui-icon-home {
	display: none;
}