.info .ui-content {
	overflow: auto;
	height: calc(100% - 80px);
}
.info label{
	white-space: nowrap;
	padding-right: 10px;
}
.info h2, .info h3{
	color: #5681ac;
}
.info form {
	margin: 0 auto 100px;
	max-width: 600px;
}
.info-sect{
	border:1px solid #5681ac;
	border-radius:0.6em;
	padding:5px;
	margin:0 0 10px 0;
}
.info .ui-selectmenu-button{
	width:100% !important;
}
.info .ui-btn:after{
	background-color: rgba(1,51,100,0.5);
}
.info .ui-btn:hover:after{
	background-color: rgb(1,51,100);
}
.info .err{
	color:red !important;
	font-weight:bold !important;
}
#info-review, #info-result, #info-fail{
	position: absolute;
	top:  50px;
	margin: 0 calc(50% - 135px);
	width: 270px;
	border-radius: 0.6em;
	border: 1px solid lightgrey;
	box-shadow: 5px 10px 20px 5px rgba(1,51,100,0.9);
	background-color: white;
	padding: 5px;
	display:none;
	z-index: 100;
}
#info-review h3,#info-result,  #info-fail{
	text-align:center;
}
#info-review-btns{
	width:207px;
	margin:20px 29px;
}
#info-review.loading {
	background-image: url(../img/spin.gif);
	background-position: center;
	background-repeat: no-repeat;
}
#info-thanks{
	padding: 5px;
}
#info-fail img {
	width: 64px;
	height: 57px;
}
#info-note{
	text-align: center;
}
table.info-fields{
	width: 100%;
	border-collapse: collapse;
}
.info-fields td{
	vertical-align: top;
	width: 50%;
}
#info-house{
	width: 30px;
}
#info-street{
	width: 300px;
}
#info-apt{
	width: 30px;
}
#info-borough{
	width: 70%;
}
#info-zip{
	width: 30%;
}
@media only screen and (max-width : 600px) {
	#info-street{
		width: auto;
	}
}
@media only screen and (max-width : 360px) {
	#info-house{
		width: 60px;
	}
	#info-apt{
		width: 30px;
	}
	#info-review, #info-result{
		margin: auto;
	}
}