#lang-btn {
	display: block;
	top: auto;
	left: 3px;
	bottom: 10px;
	position: fixed;
	z-index: 100000;
}
#lang-choice-button {
	width: 36px;
	height: 36px;
	padding: 0;
	border: 1px solid #ddd;
	background-color: rgba(1,51,100,0.5);
	cursor: pointer;
	background-image: url(../img/translate.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px 28px;
}
#lang-choice-button:hover {
	background-color: rgb(1,51,100);
}
#lang-choice-button span {
	display: none;
}
#lang-choice-button:after {
	display: none;
}
.first-load #lang-btn {
	display: none;
}
.lang-placeholder {
	display: none;
}
#lang-btn .goog-te-gadget-icon, #lang-trans, .goog-te-banner-frame {
	display: none;
}