.ctl {
	position: fixed;
	z-index: 100;
} 
.ctl-btn {
	width: 36px;
	height: 36px;
	border-radius: 0.6em !important;
}
.ctl-btn.ui-btn, .ctl-btn.ui-btn:visited {
	background-color: rgba(1,51,100,0.5);
}
.ctl-btn.ui-btn:hover {
	background-color: rgba(1,51,100,1);
}
#share-btn {
	top: auto;
	left: 3px;
	bottom: 10px;
}
#share-btn.ctl-btn, #share-btns .ctl-btn {
	padding: 0;
}
#share-btns {
	left: 43px;
	bottom: 11px;
	display: none;
}
#share-btn, #share-btns a {
	background-size: 28px 28px;
	background-position: center;
	background-repeat: no-repeat;
}
#share-btns a {
	position: relative;
	display: inline-block;
	margin: 0 2px 0 3px;
}
#share-btn {
	background-image: url(../img/share.png);
}
#feedback-btn {
	background-image: url(../img/feedback.png);
}
#facebook-btn {
	background-image: url(../img/facebook.png);
}
#twitter-btn {
	background-image: url(../img/twitter.png);
}
#google-btn {
	background-image: url(../img/google.png);
}
#linkedin-btn {
	background-image: url(../img/linkedin.png);
}
#tumblr-btn {
	background-image: url(../img/tumblr.png);
}
#email-btn {
	background-image: url(../img/email.png);
}