html, body, .ui-mobile .ui-page-active, #main, #splash {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
html, body, div, span, a, input, input[data-type="search"], li {
	text-shadow: none !important;
	color: rgb(1,51,100);
}	
/* ======================== splash ========================= */
#splash{
	display:none;
	position: absolute;
	z-index:2000;
}
div#splash-cont{
	padding: 10px;
	background-color: white;
	border: 2px solid #013364;
	border-radius: 0.6em;
	width: 280px;
	margin: 5px auto;
	box-shadow: 5px 10px 20px 5px rgba(1,51,100,0.9);
}
.ui-btn:after{
	background-color: rgba(1,51,100,0.5);
}
.ui-btn:hover:after{
	background-color: rgb(1,51,100);
}
#splash .ctl-btn.ui-btn {
	background-color: rgba(1,51,100,0.5);
	float: left;
	margin: -5px 5px 3px -3px;
}
#splash .ui-btn{
	background-color: #f8993a;
}
#splash .ui-btn:hover{
	background-color: rgb(1,51,100);
	color:white;
}
/* ======================== external ========================= */
#external-page, #external-content, #external-page iframe {
	padding: 0;
	width: 100%;
	height: 100%;
}
#external-page iframe {
	overflow: hidden;
}
.ios #external-page, .ios #external-content, .ios #external-content iframe {
	height: 10000000px;
	overflow: hidden !important;
}
/* ======================== external ========================= */
body.firstLoad, #iframeContainer.firstLoad{
	background-image:url(../img/firstLoad.gif);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#E8E8E8;
}
/* comment out above this rule to show apply buttons */
.note{
	color:red;
}
#popPreload{
	position:absolute;
	left:-5000px;
	top:-5000px;
	visibility:hidden;
	z-index:-1;
}
a, div, span, td, .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
	color: #013364;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active{
	background-color:#80b34e;
}
.firstLoad div{
	visibility:hidden;
}
span.noshow{
	display:none;
}
.banner{
	background-color:#013364 !important;
	height: 44px;
}
.banner-doe-logo {
	height: 24px;
	cursor: pointer;
	position: absolute;
	left: 3px;
	top: 10px;
}
.banner h1 {
	margin: -9px 0 0 0 !important;
	color: white;
	cursor: pointer;
	font-size: 24px !important;
	font-weight: bold !important;
	text-align: left !important;
	position: absolute;
	left: 80px;
	top: -7px;
}
.banner-school-yr {
	position: absolute;
	z-index: 1000;
	color: white;
	font-size: 12px;
	left: 80px;
	top: 27px;
}
#toggle{
	position: absolute;
	right:3px;
	top:-4px;
	z-index:1000;
	white-space:nowrap;
}
#toggle a {
	padding: 9px 14px;
}
#main{
	width:100%;
	height:100%;
}
#map{
	position:absolute;
	width:100%;
	height: calc(100% - 45px);
	top: 45px;
}
#btnSplash{
	left:3px;
	top: 127px;
}
#infoSizeChecker{
	position:absolute;
	left:-2000px;
	top:-2000px;
	max-width:290px;
	visibility:hidden;
	z-index:-1;
}
#infoSizeChecker .map, /*#infoSizeChecker .detail*/{
	display:none;
}
.type-icon{
	width: 20px;
	height: 20px;
	margin:2px 12px -2px -32px;
}
#callout_close {
	background-color: rgba(1,51,100,0.5);
	border: none;
	border-radius: 12px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	margin: -2px -3px 0 0;
	cursor: pointer;
}
#callout_close:hover {
	background-color: rgb(1,51,100);
}
#callout .type-icon{
	display:none;
}
.upkDetail{
	margin:5px 5px 0 0;
	padding: 5px;
	border-radius: 0.6em;
	border: 1px solid rgba(1,51,100,0.5);
	background-color: rgba(1,51,100,0.1);
	font-size: 14px;
}
.email, .web{
	overflow: hidden;
	text-overflow: ellipsis;
}
.web a {
	text-decoration: underline;
	cursor: pointer;
}
.oddRow .upkDetail{
	background-color: white;
}
.upkDetail ul {
	margin: 0 0 3px 0;
	font-size: 12px;
}
.upkDetail li {
	margin-left: -25px;
}
.email, .web{
	margin: 10px 0;
}
#callout .map, .upkDetail, #list-table .directions{
	display:none;
}
.olFramedCloudPopupContent {
	padding: 0;
}
.upkAction{
	font-weight: bold;
	cursor:pointer;
}
.upkAction{
	width:100%;
}
.upkAction a {
	padding: 12px 9px;
	margin: 10px 0 0 0;
	border-radius: 0.6em;
}
.oddRow .upkAction a {
	background-color: white !important;
}

#filter-type .type-icon{
	margin: 0 60px 0 0;
	float: right;
}
.ctl-tn:hover, .upkAction a:hover, #alert .ui-btn:hover, #list-pager .ui-btn:hover, #back:hover{
	background-color:#013364 !important;
	color:white !important;
	text-shadow:none !important;
}
#panel{
    position:fixed;
	width:320px;
	top:45px;
	right:0;
	bottom:0;
	z-index:1000;
}
#list-container{
	overflow:auto;
}
.ui-panel-dismiss{
	z-index:999;
}
#filter{
	margin:3px 5px;
	border-radius: 0.6em;
}
#filter .ui-collapsible-content {
	padding: 1px 20px 0 20px;
}
#filter h3 a{
	text-align: center;
}
#filter h3 a:after{
	background-image: url(../img/filter.png);
	background-size: 12px;
	background-color:#f8993a;
}

#filter label.ui-checkbox-on:after{
	background-color: #80b34e;
}
#filter-type .ui-controlgroup-controls, #filter-day .ui-controlgroup-controls{
	width:100%;	
}
#filter-type a, #filter-day a{
    font-size: 13px;
    height:30px;
    width: 32%;
    padding:5px 0 8px 0;
}
#allTypes,  #filter-day a{
	padding:13px 0 0 0 !important;
}
.ui-btn{
	font-size:14px;
}
.ui-panel-inner{
	padding:0;
}
#list-table{
	border-collapse:collapse;
	width:100%;
}
#list-table td{
	padding:3px;
}
#callout .upkInfo{
	margin:-3px 0 0 2px;
}
.phone{
	height:20px;
	margin: 5px 0 0 0;
}
.upkInfo .directions, .upkInfo .phone{
	font-weight:normal;
	cursor:pointer;
}
.oddRow {
	background-color: rgba(1,51,100,0.1);
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.distCell {
	text-align: center;
	width:35px;
}
.addr{
	text-transform:capitalize;
}
.name{
	font-weight:bold;
}
.olControlZoom{
	display:none;
}
#alert{
	position:relative;
	margin:100px auto;
	width:303px;
	border-radius:0.6em;
	border:1px solid lightgrey;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	display:none;
	background-color:white;
	padding:5px;
	z-index: 1000;
	min-height: 74px;
}
#msg{
	text-align:center;	
	margin:0 0 5px 0;
}
#alert .ui-btn, #list-pager .ui-btn, #back{
	width: 44px;
	height: 20px;
	padding: 12px 0;
	text-align: center;
	vertical-align: middle;
	margin:auto;
	text-shadow: none;
	background-color: rgba(1,51,100,0.5) !important;
	color:white;
	border-radius:0.6em;	
}
#list-pager{
	width: 100%;
	padding:5px 7px 5px 5px;
}
#list-pager .ui-btn {
	width: 100%;
}
#copyright{
	left: 3px;
	bottom:0;
	font-size:12px;
}
@media only screen and (max-width : 360px) {
	.banner h1 {
		font-size: 16px !important;
		top: 6px;
	}
	.banner-school-yr{
		font-size: 10px;
		top: 24px;
	}
	#toggle a {
		padding: 9px 12.5px;
	}
}
@media only screen and (max-width : 485px) {
	#panel{
		width:100%;
	}
	.upkAction a:hover{
		background-color:#f6f6f6 !important;
		color:#013364 !important;
	}
	.oddRow .upkAction a:hover{
		background-color:white !important;
	}
}
@media only screen and (max-height : 360px) {
	div#splash-cont{
		width: 450px;
		margin: -1px auto;
	}
}
