.ctl-btn.ui-btn-icon-notext:after {
	background-color: transparent;
	border-radius: 0;
	background-size: 19px;	
}
#btn-z-in {
	left: 3px;
	top: 43px;
}
#btn-z-out {
	left: 3px;
	top: 85px;
}
#fld-srch-container {
	top: 42px;
	width: 399px;
	left: 40px;
	padding: 0 5px;
}
#fld-srch-container .ui-input-search{
	opacity: 0.6;
}
#fld-srch-container .ui-input-search.ui-focus {
	opacity: 1;
}
#fld-srch-container .ui-corner-all {
	border-radius: 0.6em;
}
#fld-srch-container input {
	font-size: 17px;
}
#btn-srch-typ {
	float: right;
	margin: -38px 5px;
	background-color: transparent;
	border: none;
	opacity: 0.6;
}
#btn-srch-typ.ctl-active, #btn-srch-typ:hover {
	opacity: 1;
}
#btn-srch-typ:after, #fld-srch-container .ui-input-clear:after {
	background-color: rgba(0,0,0,0.5);
}
.ui-listview>.ui-li-static {
	cursor: pointer;
	padding: 8px;
	margin: 0;
}
.ui-listview>.ui-li-static:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.5);
	color: white;
}
#srch-by {
	background-color: white;
	color: #333333;
	font-weight: bold;
}
#fld-srch, #mnu-srch-typ {
	width: 100%;
	max-height: 400px;
	box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
#fld-srch {
	margin-top: -3px;
}
#mnu-srch-typ {
	display: none;
	position: absolute;
	width: 399px;
	top: 50px;
	left: 5px;
	margin: 0;
}
#fld-srch-retention {
	position: absolute;
	left: -1000px;
	top: -1000px;
}
@media only screen and (max-width : 405px) {
	#fld-srch-container {
		width: 351px;
	}
}
@media only screen and (max-width : 380px) {
	#fld-srch-container {
		width: 326px;
	}
}
@media only screen and (max-width : 350px) {
	#fld-srch-container {
		width: 271px;
	}
}

